# pip install -r requirements.txt

# Base ----------------------------------------
Flask>=2.0.0  # Веб-фреймворк для создания веб-приложений
Werkzeug>=2.0.0  # Утилиты для WSGI-приложений, используется Flask
opencv-python>=4.1.2  # Обработка изображений
numpy>=1.21.0  # Матричные операции и численные вычисления
scikit-learn>=0.24.0  # Машинное обучение и разделение данных
pyyaml>=5.3.1  # Работа с YAML файлами
tensorflow>=2.4.1  # Библиотека для машинного обучения и нейронных сетей

# Extras --------------------------------------
# roboflow
# tg bot
pyTelegramBotAPI
python-telegram-bot
